p {
    color: orangered;
    font-weight: bold;
}
div {
    background-color: lightblue;
}
ol {
    font-family: courier new;
}
li {
    font-weight: bold;
}
h1 {
    text-decoration: underline;
}
body {
    background-image: url(../images/snowytrees.jpg);
}
